/* Variables */
:root {
	--colors-background-dark: #444;
	--colors-background-light: #ffff;
	--colors-text-light: #fff;
	--colors-text-highlight: #456ebf;
	--colors-text-dark: #000;
	--fonts-normal-text: arial, verdana;
}

/* Small resets */
* {
	box-sizing: border-box;
}

html,
body,
form {
	padding: 0px;
	margin: 0px;
}

/* Main elements */
body {
	background: var(--colors-background-dark);
	font-family: var(--fonts-normal-text);
	font-size: 14px;
	font-weight: 400;
	color: var(--colors-text-dark);
}

main {
	margin-bottom: 10px;
}

main strong {
	display: inline-block;
	padding: 10px;
	background-color: var(--colors-text-highlight);
	color: var(--colors-text-light);
	border-radius: 5px;
}

footer {
	font-size: 0.85em;
}

h1 {
	font-size: 1.5em;
	margin: 0px 0px 15px 0px;
}

p {
	margin: 0px 0px 15px 0px;
}

p a {
	color: var(--colors-text-highlight);
	text-decoration: none;
}

p a:hover {
	text-decoration: underline;
}

p:last-child {
	margin: 0px;
}

#map {
	width: 100%;
	height: 100vh;
}

.geoapify-leaflet-control{
	min-width: 225px !important;
	width: 400px !important;
	max-width: 95vw !important;
	border: solid #333333ae !important;
}

.geoapify-leaflet-control .geoapify-form .geoapify-address-input{
	height: 40px !important;
}

.geoapify-clear-button{
	height: 40px !important;
}

.geoapify-form {
	background-color: #A7C7E7;
}

.geoapify-clear-button {
	color: #333333ae !important;
}

.leaflet-top.leaflet-left {
	display: flex;
	flex-direction: column;
  }
  
  .leaflet-top.leaflet-left > *:nth-child(2) {
	order: -1;
  }

  .leaflet-control-zoom{
	width: 33px;
  }